{% extends "layout.html.twig" %}

{% block stylesheets %}
    <link href="assets/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable_all').DataTable( {
                language: {
                    url: 'assets/French.json'
                },
                responsive: true
            } );
            $('#dataTable_sent').DataTable( {
                language: {
                    url: 'assets/French.json'
                },
                responsive: true
            } );
            $('#dataTable_received').DataTable( {
                language: {
                    url: 'assets/French.json'
                },responsive: {
                    details: false
                }
            } );
        });
    </script>
{% endblock %}



{% block comptes %}
    {% for account in accounts %}
        <a class="collapse-item" href="#">{{ account.libelle }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="row ml-4">
        <div class="list-group col-2 text-center" id="myList" role="tablist">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#all" role="tab">Tous</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#sent" role="tab">Virements
                Envoyés</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#receipt" role="tab">Virements
                Reçus</a>
        </div>
        <div class="tab-content col-9">
            <div class="tab-pane active" id="all" role="tabpanel">
                <div class="card">
                    <div class="card-header text-center">Virements</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable_all" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col">Emetteur</th>
                                    <th scope="col">Destinataire</th>
                                    <th scope="col">Libelle</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in transactions %}
                                    <tr>
                                        {% if transaction.idIssuer is not null %}
                                            <td>{{ transaction.issuer.name }} {{ transaction.issuer.surname }}</td>
                                        {% else %}
                                            <td>Banque</td>
                                        {% endif %}
                                        {% if transaction.idReceiver is not null %}
                                            <td>{{ transaction.receiver.name }} {{ transaction.receiver.surname }}</td>
                                        {% else %}
                                            <td>Banque</td>
                                        {% endif %}
                                        <td>{{ transaction.label }}</td>
                                        {% for account in accounts %}
                                            <td class="{% if transaction.idIssuer == account.id %} text-danger {% else %} text-success {% endif %}">{{ transaction.amount }}</td>
                                        {% endfor %}
                                        <td>{{ transaction.date |date('d/m/y') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="sent" role="tabpanel">
                <div class="card">
                    <div class="card-header text-center">Virements envoyés</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable_sent" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col">Destinataire</th>
                                    <th scope="col">Libelle</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in transactions %}
                                    {% for account in accounts %}
                                        {% if account.id == transaction.idIssuer %}
                                            <tr>
                                                <td>{{ transaction.receiver.name }} {{ transaction.receiver.surname }}</td>
                                                <td>{{ transaction.label }}</td>
                                                <td class="text-danger">{{ transaction.amount }}</td>
                                                <td>{{ transaction.date |date('d/m/y') }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="receipt" role="tabpanel">
                <div class="card">
                    <div class="card-header text-center">Virements reçus</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable_received" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col">Emetteur</th>
                                    <th scope="col">Libelle</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in transactions %}
                                    {% for account in accounts %}
                                        {% if account.id == transaction.idReceiver %}
                                            <tr>
                                                {% if transaction.idIssuer is not null %}
                                                    <td>{{ transaction.receiver.name }} {{ transaction.receiver.surname }}</td>
                                                {% else %}
                                                    <td>Banque</td>
                                                {% endif %}
                                                <td>{{ transaction.label }}</td>
                                                <td class="text-success">{{ transaction.amount }}</td>
                                                <td>{{ transaction.date |date('d/m/y') }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}